<div class="form-group">
    <label>Reponses :</label>
    <input type="text" name="" id="Reponses" value="" class="form-control" />
    <br />
    <input type="button" id="AddNewRep" value="Add" class="btn btn-primary" />
    <br />
    <br />
    <textarea class="form-control" name="Reponse" id="Area"></textarea>
</div>
